/* @import "tw-animate-css"; */
@import "tailwindcss";

@keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
  }
}

@keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
  }
  100% {
    transform: translateZ(0) rotate(360deg);
  }
}
